# Capitolo 2: 
# Gestione dei Dati: iPython, Numpy e Pandas

In [2]:
def somma(a, b):
    """
    Questa funzione somma due interi (a+b)
    """
    return a + b

?somma

In [3]:
from numpy import sum

sum??

In [4]:
*Error?

In [5]:
import time

def tempo_di_esecuzione(metodo):
    def tempo_trascorso(*args, **kw):
        tempo_inizio = time.time()
        risultato = metodo(*args, **kw)
        tempo_fine = time.time()

        print('{0} {1:.2f} sec'.format(
              metodo.__name__, tempo_fine - tempo_inizio))
        return risultato
    return tempo_trascorso


@tempo_di_esecuzione
def prova1():
    a = [x for x in range(1000000)]

prova1()

prova1 0.06 sec

In [6]:
def prova1():
     a = [x for x in range(1000000)]

%timeit prova1()

42.4 ms ± 132 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [7]:
!uname -a

Linux TM1613 4.10.0-40-generic #44-Ubuntu SMP Thu Nov 9 14:49:09 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

In [8]:
il_mio_path = !pwd
print(il_mio_path)

['/home/alessandro/Documents/book/machine_learning/src/cap02']

In questa cella, potremo inserire:
1. Testo Semplice
2. Corsivo, usando gli *asterischi* singoli
3. Grassetto, usando quelli **doppi**
4. Testo sbarrato, usando le doppie ~~tilde~~

Ah si, anche creare liste numerate (come abbiamo appena fatto), e non:
- questo è un elemento di una lista
- questo è un altro elemento

> Questa invece è una citazione!

Possiamo anche inserire [link](https://www.python.org/),
immagini: 
![alt text](https://www.python.org/static/opengraph-icon-200x200.png
"Logo Python")
e addirittura tabelle:

| A                | B             | C           |
| ---------------- |:-------------:| -----------:|
| 1                | 2             | 3           |
| testo a sinistra | centrato      |  o a destra |

In [9]:
import numpy as np

np.array([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [10]:
l = [1,2,3,4,5]  # lista Python
a = np.array([1,2,3,4,5])  # array Numpy
l.append(6)  
l

[1, 2, 3, 4, 5, 6]

In [11]:
np.append(a, 6)

array([1, 2, 3, 4, 5, 6])

In [12]:
a

array([1, 2, 3, 4, 5])

In [13]:
a = np.append(a, 6)

In [14]:
l[0] == a[0]

True

In [15]:
l[:-3]

[1, 2, 3]

In [16]:
a[:-3]

array([1, 2, 3])

In [17]:
l[:-3] == a[:-3]

array([ True,  True,  True], dtype=bool)

In [18]:
all(l[:-3] == a[:-3])

True

In [27]:
l = [1, "ciao", False]
a = np.array([1, "ciao", False])

In [28]:
[type(elemento) for elemento in l]

[int, str, bool]

In [29]:
[type(elemento) for elemento in a]

[numpy.str_, numpy.str_, numpy.str_]

In [31]:
l = list(range(10000))
a = np.array(range(10000))

In [32]:
def somma_numpy(a):
    return np.sum(a)

def somma_python(l):
    return sum(l)
    
%timeit somma_python(l)

568 µs ± 41.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [33]:
%timeit somma_numpy(a)

9.52 µs ± 24.8 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [34]:
%timeit list(range(10000))

216 µs ± 530 ns per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [35]:
%timeit np.arange(10000)

8.83 µs ± 420 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [36]:
#subsection{Attributi degli Array}
a = np.array(range(10))
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [37]:
a.dtype

dtype('int64')

In [38]:
X = np.array([
        [1,2,3], 
        [4,5,6], 
        [7,8,9]
])
X.shape

(3, 3)

In [39]:
X.shape = (1,9)
X

array([[1, 2, 3, 4, 5, 6, 7, 8, 9]])

In [40]:
X.reshape(3,3)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [41]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [42]:
np.empty((4,2), dtype=float)

array([[  6.92785084e-310,   4.67938787e-310],
       [  0.00000000e+000,   0.00000000e+000],
       [  0.00000000e+000,   0.00000000e+000],
       [  0.00000000e+000,               nan]])

In [43]:
np.zeros((4,2), dtype=np.int32)

array([[0, 0],
       [0, 0],
       [0, 0],
       [0, 0]], dtype=int32)

In [44]:
np.ones((4,2), dtype=np.int32)

array([[1, 1],
       [1, 1],
       [1, 1],
       [1, 1]], dtype=int32)

In [45]:
np.identity(4)

array([[ 1.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.],
       [ 0.,  0.,  1.,  0.],
       [ 0.,  0.,  0.,  1.]])

In [51]:
#\subsection{Operazioni comuni con le matrici}
X = np.array([
        [1,2,3], 
        [4,5,6], 
        [7,8,9]
])
X

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [52]:
2 * X

array([[ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18]])

In [53]:
np.dot(X, 2)

array([[ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18]])

In [54]:
Y = np.array([[0,0,0], [1,1,1], [0,0,0]])
Y

array([[0, 0, 0],
       [1, 1, 1],
       [0, 0, 0]])

In [55]:
np.dot(X, Y)

array([[2, 2, 2],
       [5, 5, 5],
       [8, 8, 8]])

In [56]:
X

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [57]:
X.T

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [58]:
np.transpose(X)

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [61]:
#\subsection{Indicizzazione e iterazione degli array}
#\subsubsection{Indicizzazione}
a = np.array(['nel', 'mezzo', 'del', 'cammin', 'di', 'nostra', 'vita'])
a[0]

'nel'

In [62]:
a[-1]

'vita'

In [63]:
a = np.array([[1,2,3],[3,4,5],[4,5,6]])
a

array([[1, 2, 3],
       [3, 4, 5],
       [4, 5, 6]])

In [64]:
a[...,1]

array([2, 4, 5])

In [65]:
a[2,...]

array([4, 5, 6])

In [66]:
a[a>2]

array([3, 3, 4, 5, 4, 5, 6])

In [67]:
X = np.array([[1,2,3],[4,5,6],[7,8,9]])
np.split(X, 3)

[array([[1, 2, 3]]), array([[4, 5, 6]]), array([[7, 8, 9]])]

In [68]:
X = np.arange(20)
np.array(np.split(X, 5))

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [70]:
#\subsubsection{Iterazione}
X = np.array([1,2,3,4,5,6,7,8,9])
for i, elemento in enumerate(X):
    print(i, elemento)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

In [71]:
X.shape = (3,3)
for i, elemento in enumerate(X):
    print(i, elemento)

0 [1 2 3]
1 [4 5 6]
2 [7 8 9]

In [72]:
X = np.array([[1,2,3],[4,5,6],[7,8,9]])
X

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [73]:
for el in np.nditer(X):
    print(el),

1
2
3
4
5
6
7
8
9

In [74]:
X.T

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [77]:
for el in np.nditer(X.T):
    print(el, end=' ')

1 2 3 4 5 6 7 8 9

In [78]:
for el in np.nditer(X, order='C'):
    print(el, end=' ')

1 2 3 4 5 6 7 8 9

In [79]:
for el in np.nditer(X, order='F'):
    print(el, end=' ')

1 4 7 2 5 8 3 6 9

In [80]:
for el in np.nditer(X):
    el *= 2

ValueError: output array is read-only

In [81]:
for el in np.nditer(X, op_flags=['readwrite']):
    el *= 2
X

array([[ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18]])

In [82]:
import numpy as np

# leggo il file
with open("dow_jones_index/dow_jones_index.data") as f:
    data = f.readlines()
    # rimuovo il carattere "a capo" da ogni riga
    data = [riga.replace("\n", "") for riga in data]

dataset = np.array([riga.split(",") for riga in data])
print(dataset)

[['quarter' 'stock' 'date' ..., 'percent_change_next_weeks_price'
  'days_to_next_dividend' 'percent_return_next_dividend']
 ['1' 'AA' '1/7/2011' ..., '-4.42849' '26' '0.182704']
 ['1' 'AA' '1/14/2011' ..., '-2.47066' '19' '0.187852']
 ...,
 ['2' 'XOM' '6/10/2011' ..., '-1.225' '61' '0.58912']
 ['2' 'XOM' '6/17/2011' ..., '-2.37762' '54' '0.594786']
 ['2' 'XOM' '6/24/2011' ..., '6.67274' '47' '0.612139']]

In [83]:
import pandas as pd
df = pd.read_csv("dow_jones_index/dow_jones_index.data")

In [84]:
print(df)

     quarter stock       date    open    high     low   close     volume  \
0          1    AA   1/7/2011  $15.82  $16.72  $15.78  $16.42  239655616
1          1    AA  1/14/2011  $16.71  $16.71  $15.64  $15.97  242963398
2          1    AA  1/21/2011  $16.19  $16.38  $15.60  $15.79  138428495
3          1    AA  1/28/2011  $15.87  $16.63  $15.82  $16.13  151379173
4          1    AA   2/4/2011  $16.18  $17.39  $16.18  $17.14  154387761
5          1    AA  2/11/2011  $17.33  $17.48  $16.97  $17.37  114691279
6          1    AA  2/18/2011  $17.39  $17.68  $17.28  $17.28   80023895
7          1    AA  2/25/2011  $16.98  $17.15  $15.96  $16.68  132981863
8          1    AA   3/4/2011  $16.81  $16.94  $16.13  $16.58  109493077
9          1    AA  3/11/2011  $16.58  $16.75  $15.42  $16.03  114332562
10         1    AA  3/18/2011  $15.95  $16.33  $15.43  $16.11  130374108
11         1    AA  3/25/2011  $16.38  $17.24  $16.26  $17.09   95550392
12         1   AXP   1/7/2011  $43.30  $45.60  $43.11  $44.36   45102042
13         1   AXP  1/14/2011  $44.20  $46.25  $44.01  $46.25   25913713
14         1   AXP  1/21/2011  $46.03  $46.71  $44.71  $46.00   38824728
15         1   AXP  1/28/2011  $46.05  $46.27  $43.42  $43.86   51427274
16         1   AXP   2/4/2011  $44.13  $44.23  $43.15  $43.82   39501680
17         1   AXP  2/11/2011  $43.96  $46.79  $43.88  $46.75   43746998
18         1   AXP  2/18/2011  $46.42  $46.93  $45.53  $45.53   28564910
19         1   AXP  2/25/2011  $44.94  $45.12  $43.01  $43.53   39654146
20         1   AXP   3/4/2011  $43.73  $44.68  $42.75  $43.72   38985037
21         1   AXP  3/11/2011  $43.86  $45.54  $43.53  $44.28   37613429
22         1   AXP  3/18/2011  $43.86  $44.47  $42.19  $44.17   41757526
23         1   AXP  3/25/2011  $44.75  $45.61  $44.10  $45.59   30798332
24         1    BA   1/7/2011  $66.15  $70.10  $66.00  $69.38   36258120
25         1    BA  1/14/2011  $69.42  $70.50  $68.35  $70.07   18834664
26         1    BA  1/21/2011  $70.86  $72.99  $70.23  $71.68   29594221
27         1    BA  1/28/2011  $71.52  $72.82  $69.00  $69.23   34929673
28         1    BA   2/4/2011  $69.26  $71.64  $69.12  $71.38   22770062
29         1    BA  2/11/2011  $71.43  $72.99  $71.15  $72.14   21809411
..       ...   ...        ...     ...     ...     ...     ...        ...
720        2    VZ   6/3/2011  $36.91  $36.99  $35.60  $35.63   50174214
721        2    VZ  6/10/2011  $35.57  $36.14  $35.16  $35.19   72100710
722        2    VZ  6/17/2011  $35.23  $35.92  $34.94  $35.51   69585912
723        2    VZ  6/24/2011  $35.35  $36.17  $35.20  $36.00   82375230
724        2   WMT   4/1/2011  $52.31  $52.74  $51.89  $52.13   44519431
725        2   WMT   4/8/2011  $52.31  $53.24  $52.06  $52.54   48382262
726        2   WMT  4/15/2011  $52.54  $53.96  $52.40  $53.55   45662991
727        2   WMT  4/21/2011  $53.08  $53.95  $52.91  $53.58   23073491
728        2   WMT  4/29/2011  $53.60  $55.16  $53.23  $54.98   47159044
729        2   WMT   5/6/2011  $55.08  $55.79  $53.20  $55.02   46668727
730        2   WMT  5/13/2011  $54.97  $56.03  $54.70  $55.72   42649301
731        2   WMT  5/20/2011  $55.61  $56.47  $54.95  $55.29   56695842
732        2   WMT  5/27/2011  $54.90  $55.50  $54.10  $54.70   35560853
733        2   WMT   6/3/2011  $54.88  $55.22  $53.04  $53.66   48156051
734        2   WMT  6/10/2011  $53.86  $54.30  $52.69  $52.72   58746396
735        2   WMT  6/17/2011  $52.91  $53.29  $51.79  $52.82   68996550
736        2   WMT  6/24/2011  $52.70  $53.70  $52.35  $52.41   75602550
737        2   XOM   4/1/2011  $83.86  $84.94  $82.61  $84.68   77569311
738        2   XOM   4/8/2011  $84.26  $86.22  $84.07  $85.95   75566590
739        2   XOM  4/15/2011  $85.95  $86.15  $82.38  $84.29   81056144
740        2   XOM  4/21/2011  $83.11  $86.36  $82.44  $86.36   43378708
741        2   XOM  4/29/2011  $86.29  $88.00  $85.89  $87.98   81596868
742        2   XOM   5/6/2011  $88.10  $88.13  $81.59  $82.69  113805856
743        2   XOM  5/13/2011  $83.01  $83.76  $79.42  $80.87   99678100
744        2   XOM  5/20/2011  $80.22  $82.58  $79.60  $81.57   86758820
745        2   XOM  5/27/2011  $80.22  $82.63  $80.07  $82.63   68230855
746        2   XOM   6/3/2011  $83.28  $83.75  $80.18  $81.18   78616295
747        2   XOM  6/10/2011  $80.93  $81.87  $79.72  $79.78   92380844
748        2   XOM  6/17/2011  $80.00  $80.82  $78.33  $79.02  100521400
749        2   XOM  6/24/2011  $78.65  $81.12  $76.78  $76.78  118679791

     percent_change_price  percent_change_volume_over_last_wk  \
0                3.792670                                 NaN
1               -4.428490                            1.380223
2               -2.470660                          -43.024959
3                1.638310                            9.355500
4                5.933250                            1.987452
5                0.230814                          -25.712195
6               -0.632547                          -30.226696
7               -1.766780                           66.177694
8               -1.368230                          -17.663150
9               -3.317250                            4.419900
10               1.003130                           14.030601
11               4.334550                          -26.710607
12               2.448040                                 NaN
13               4.638010                          -42.544258
14              -0.065175                           49.823099
15              -4.755700                           32.460101
16              -0.702470                          -23.189240
17               6.346680                           10.747183
18              -1.917280                          -34.704297
19              -3.137520                           38.821183
20              -0.022868                           -1.687362
21               0.957592                           -3.518293
22               0.706794                           11.017600
23               1.877090                          -26.244835
24               4.882840                                 NaN
25               0.936330                          -48.053942
26               1.157210                           57.126355
27              -3.201900                           18.028696
28               3.060930                          -34.811694
29               0.993980                           -4.218921
..                    ...                                 ...
720             -3.467890                           15.608455
721             -1.068320                           43.700726
722              0.794777                           -3.487896
723              1.838760                           18.379177
724             -0.344102                          -16.607132
725              0.439686                            8.676730
726              1.922340                           -5.620388
727              0.941974                          -49.470040
728              2.574630                          104.386254
729             -0.108932                           -1.039709
730              1.364380                           -8.612675
731             -0.575436                           32.934985
732             -0.364299                          -37.277847
733             -2.223030                           35.418717
734             -2.116600                           21.991722
735             -0.170100                           17.448141
736             -0.550285                            9.574392
737              0.977820                           -6.951645
738              2.005700                           -2.581847
739             -1.931360                            7.264525
740              3.910480                          -46.483134
741              1.958510                           88.103500
742             -6.140750                           39.473314
743             -2.578000                          -12.413910
744              1.682870                          -12.961001
745              3.004240                          -21.355713
746             -2.521610                           15.221032
747             -1.420980                           17.508519
748             -1.225000                            8.811952
749             -2.377620                           18.064204

     previous_weeks_volume next_weeks_open next_weeks_close  \
0                      NaN          $16.71           $15.97
1              239655616.0          $16.19           $15.79
2              242963398.0          $15.87           $16.13
3              138428495.0          $16.18           $17.14
4              151379173.0          $17.33           $17.37
5              154387761.0          $17.39           $17.28
6              114691279.0          $16.98           $16.68
7               80023895.0          $16.81           $16.58
8              132981863.0          $16.58           $16.03
9              109493077.0          $15.95           $16.11
10             114332562.0          $16.38           $17.09
11             130374108.0          $17.13           $17.47
12                     NaN          $44.20           $46.25
13              45102042.0          $46.03           $46.00
14              25913713.0          $46.05           $43.86
15              38824728.0          $44.13           $43.82
16              51427274.0          $43.96           $46.75
17              39501680.0          $46.42           $45.53
18              43746998.0          $44.94           $43.53
19              28564910.0          $43.73           $43.72
20              39654146.0          $43.86           $44.28
21              38985037.0          $43.86           $44.17
22              37613429.0          $44.75           $45.59
23              41757526.0          $45.54           $45.36
24                     NaN          $69.42           $70.07
25              36258120.0          $70.86           $71.68
26              18834664.0          $71.52           $69.23
27              29594221.0          $69.26           $71.38
28              34929673.0          $71.43           $72.14
29              22770062.0          $72.70           $73.04
..                     ...             ...              ...
720             43400125.0          $35.57           $35.19
721             50174214.0          $35.23           $35.51
722             72100710.0          $35.35           $36.00
723             69585912.0          $36.00           $37.80
724             53385178.0          $52.31           $52.54
725             44519431.0          $52.54           $53.55
726             48382262.0          $53.08           $53.58
727             45662991.0          $53.60           $54.98
728             23073491.0          $55.08           $55.02
729             47159044.0          $54.97           $55.72
730             46668727.0          $55.61           $55.29
731             42649301.0          $54.90           $54.70
732             56695842.0          $54.88           $53.66
733             35560853.0          $53.86           $52.72
734             48156051.0          $52.91           $52.82
735             58746396.0          $52.70           $52.41
736             68996550.0          $52.32           $53.51
737             83364516.0          $84.26           $85.95
738             77569311.0          $85.95           $84.29
739             75566590.0          $83.11           $86.36
740             81056144.0          $86.29           $87.98
741             43378708.0          $88.10           $82.69
742             81596868.0          $83.01           $80.87
743            113805856.0          $80.22           $81.57
744             99678100.0          $80.22           $82.63
745             86758820.0          $83.28           $81.18
746             68230855.0          $80.93           $79.78
747             78616295.0          $80.00           $79.02
748             92380844.0          $78.65           $76.78
749            100521400.0          $76.88           $82.01

     percent_change_next_weeks_price  days_to_next_dividend  \
0                          -4.428490                     26
1                          -2.470660                     19
2                           1.638310                     12
3                           5.933250                      5
4                           0.230814                     97
5                          -0.632547                     90
6                          -1.766780                     83
7                          -1.368230                     76
8                          -3.317250                     69
9                           1.003130                     62
10                          4.334550                     55
11                          1.984820                     48
12                          4.638010                     89
13                         -0.065175                     82
14                         -4.755700                     75
15                         -0.702470                     68
16                          6.346680                     61
17                         -1.917280                     54
18                         -3.137520                     47
19                         -0.022868                     40
20                          0.957592                     33
21                          0.706794                     26
22                          1.877090                     19
23                         -0.395257                     12
24                          0.936330                     33
25                          1.157210                     26
26                         -3.201900                     19
27                          3.060930                     12
28                          0.993980                      5
29                          0.467675                     89
..                               ...                    ...
720                        -1.068320                     33
721                         0.794777                     26
722                         1.838760                     19
723                         5.000000                     12
724                         0.439686                     40
725                         1.922340                     33
726                         0.941974                     26
727                         2.574630                     20
728                        -0.108932                     12
729                         1.364380                      5
730                        -0.575436                     89
731                        -0.364299                     82
732                        -2.223030                     75
733                        -2.116600                     68
734                        -0.170100                     61
735                        -0.550285                     54
736                         2.274460                     47
737                         2.005700                     40
738                        -1.931360                     33
739                         3.910480                     26
740                         1.958510                     20
741                        -6.140750                     12
742                        -2.578000                      5
743                         1.682870                     89
744                         3.004240                     82
745                        -2.521610                     75
746                        -1.420980                     68
747                        -1.225000                     61
748                        -2.377620                     54
749                         6.672740                     47

     percent_return_next_dividend
0                        0.182704
1                        0.187852
2                        0.189994
3                        0.185989
4                        0.175029
5                        0.172712
6                        0.173611
7                        0.179856
8                        0.180941
9                        0.187149
10                       0.186220
11                       0.175541
12                       0.405771
13                       0.389189
14                       0.391304
15                       0.410397
16                       0.410771
17                       0.385027
18                       0.395344
19                       0.413508
20                       0.411711
21                       0.406504
22                       0.407516
23                       0.394823
24                       0.605362
25                       0.599401
26                       0.585938
27                       0.606673
28                       0.588400
29                       0.582201
..                            ...
720                      1.375250
721                      1.392440
722                      1.379890
723                      1.361110
724                      0.709764
725                      0.704225
726                      0.690943
727                      0.690556
728                      0.672972
729                      0.672483
730                      0.664034
731                      0.669199
732                      0.676417
733                      0.689527
734                      0.701821
735                      0.700492
736                      0.705972
737                      0.555031
738                      0.546830
739                      0.557599
740                      0.544233
741                      0.534212
742                      0.568388
743                      0.581180
744                      0.576192
745                      0.568801
746                      0.578960
747                      0.589120
748                      0.594786
749                      0.612139

[750 rows x 16 columns]

In [85]:
#stampa le prime 5 righe
df.head()
#stampa le ultime 5 righe
df.tail()
#stampa le prime 10 righe
df.head(10)
#stampa le ultime 10 righe
df.tail()

,quarter,stock,date,open,high,low,close,volume,percent_change_price,percent_change_volume_over_last_wk,previous_weeks_volume,next_weeks_open,next_weeks_close,percent_change_next_weeks_price,days_to_next_dividend,percent_return_next_dividend
745,2,XOM,5/27/2011,$80.22,$82.63,$80.07,$82.63,68230855,3.00424,-21.355713,86758820.0,$83.28,$81.18,-2.52161,75,0.568801
746,2,XOM,6/3/2011,$83.28,$83.75,$80.18,$81.18,78616295,-2.52161,15.221032,68230855.0,$80.93,$79.78,-1.42098,68,0.578960
747,2,XOM,6/10/2011,$80.93,$81.87,$79.72,$79.78,92380844,-1.42098,17.508519,78616295.0,$80.00,$79.02,-1.22500,61,0.589120
748,2,XOM,6/17/2011,$80.00,$80.82,$78.33,$79.02,100521400,-1.22500,8.811952,92380844.0,$78.65,$76.78,-2.37762,54,0.594786
749,2,XOM,6/24/2011,$78.65,$81.12,$76.78,$76.78,118679791,-2.37762,18.064204,100521400.0,$76.88,$82.01,6.67274,47,0.612139

In [86]:
df.dtypes

quarter                                 int64
stock                                  object
date                                   object
open                                   object
high                                   object
low                                    object
close                                  object
volume                                  int64
percent_change_price                  float64
percent_change_volume_over_last_wk    float64
previous_weeks_volume                 float64
next_weeks_open                        object
next_weeks_close                       object
percent_change_next_weeks_price       float64
days_to_next_dividend                   int64
percent_return_next_dividend          float64
dtype: object

In [87]:
# converto le date 
df['date'] = pd.to_datetime(df['date'])

In [88]:
def converti_valori_monetari(stringa):
    # rimuovo il simbolo del dollaro
    valore = stringa.replace('$', '')
    # lo converto in float
    return float(valore)

colonne_da_convertire = ('open', 'high', 'low', 
                         'close', 'next_weeks_open', 
                         'next_weeks_close')
for colonna in colonne_da_convertire:
    # applico a ciascun dato la funzione converti_valori_numerici
    df[colonna] = df[colonna].apply(converti_valori_monetari)

In [89]:
df.dtypes

quarter                                        int64
stock                                         object
date                                  datetime64[ns]
open                                         float64
high                                         float64
low                                          float64
close                                        float64
volume                                         int64
percent_change_price                         float64
percent_change_volume_over_last_wk           float64
previous_weeks_volume                        float64
next_weeks_open                              float64
next_weeks_close                             float64
percent_change_next_weeks_price              float64
days_to_next_dividend                          int64
percent_return_next_dividend                 float64
dtype: object

In [90]:
df.describe()

,quarter,open,high,low,close,volume,percent_change_price,percent_change_volume_over_last_wk,previous_weeks_volume,next_weeks_open,next_weeks_close,percent_change_next_weeks_price,days_to_next_dividend,percent_return_next_dividend
count,750.000000,750.000000,750.000000,750.000000,750.000000,7.500000e+02,750.000000,720.000000,7.200000e+02,750.000000,750.000000,750.000000,750.000000,750.000000
mean,1.520000,53.651840,54.669987,52.640160,53.729267,1.175478e+08,0.050262,5.593627,1.173876e+08,53.702440,53.889080,0.238468,52.525333,0.691826
std,0.499933,32.638852,33.215994,32.119277,32.788787,1.584381e+08,2.517809,40.543478,1.592322e+08,32.778111,33.016677,2.679538,46.335098,0.305482
min,1.000000,10.590000,10.940000,10.400000,10.520000,9.718851e+06,-15.422900,-61.433175,9.718851e+06,10.520000,10.520000,-15.422900,0.000000,0.065574
25%,1.000000,29.830000,30.627500,28.720000,30.365000,3.086624e+07,-1.288053,-19.804284,3.067832e+07,30.315000,30.462500,-1.222067,24.000000,0.534549
50%,2.000000,45.970000,46.885000,44.800000,45.930000,5.306088e+07,0.000000,0.512586,5.294556e+07,46.015000,46.125000,0.101193,47.000000,0.681067
75%,2.000000,72.715000,74.287500,71.037500,72.667500,1.327218e+08,1.650888,21.800622,1.333230e+08,72.715000,72.915000,1.845562,69.000000,0.854291
max,2.000000,172.110000,173.540000,167.820000,170.580000,1.453439e+09,9.882230,327.408924,1.453439e+09,172.110000,174.540000,9.882230,336.000000,1.564210

In [91]:
df.iloc[0]

quarter                                                 1
stock                                                  AA
date                                  2011-01-07 00:00:00
open                                                15.82
high                                                16.72
low                                                 15.78
close                                               16.42
volume                                          239655616
percent_change_price                              3.79267
percent_change_volume_over_last_wk                    NaN
previous_weeks_volume                                 NaN
next_weeks_open                                     16.71
next_weeks_close                                    15.97
percent_change_next_weeks_price                  -4.42849
days_to_next_dividend                                  26
percent_return_next_dividend                     0.182704
Name: 0, dtype: object

In [92]:
df.iloc[5:11]

,quarter,stock,date,open,high,low,close,volume,percent_change_price,percent_change_volume_over_last_wk,previous_weeks_volume,next_weeks_open,next_weeks_close,percent_change_next_weeks_price,days_to_next_dividend,percent_return_next_dividend
5,1,AA,2011-02-11,17.33,17.48,16.97,17.37,114691279,0.230814,-25.712195,154387761.0,17.39,17.28,-0.632547,90,0.172712
6,1,AA,2011-02-18,17.39,17.68,17.28,17.28,80023895,-0.632547,-30.226696,114691279.0,16.98,16.68,-1.766780,83,0.173611
7,1,AA,2011-02-25,16.98,17.15,15.96,16.68,132981863,-1.766780,66.177694,80023895.0,16.81,16.58,-1.368230,76,0.179856
8,1,AA,2011-03-04,16.81,16.94,16.13,16.58,109493077,-1.368230,-17.663150,132981863.0,16.58,16.03,-3.317250,69,0.180941
9,1,AA,2011-03-11,16.58,16.75,15.42,16.03,114332562,-3.317250,4.419900,109493077.0,15.95,16.11,1.003130,62,0.187149
10,1,AA,2011-03-18,15.95,16.33,15.43,16.11,130374108,1.003130,14.030601,114332562.0,16.38,17.09,4.334550,55,0.186220

In [93]:
df.iloc[:11, 3:7]

     open   high    low  close
0   15.82  16.72  15.78  16.42
1   16.71  16.71  15.64  15.97
2   16.19  16.38  15.60  15.79
3   15.87  16.63  15.82  16.13
4   16.18  17.39  16.18  17.14
5   17.33  17.48  16.97  17.37
6   17.39  17.68  17.28  17.28
7   16.98  17.15  15.96  16.68
8   16.81  16.94  16.13  16.58
9   16.58  16.75  15.42  16.03
10  15.95  16.33  15.43  16.11

In [94]:
df_mini = df.iloc[:11, 3:7]

df_mini = df_mini.drop(df_mini.index[0])

In [95]:
df_mini

     open   high    low  close
1   16.71  16.71  15.64  15.97
2   16.19  16.38  15.60  15.79
3   15.87  16.63  15.82  16.13
4   16.18  17.39  16.18  17.14
5   17.33  17.48  16.97  17.37
6   17.39  17.68  17.28  17.28
7   16.98  17.15  15.96  16.68
8   16.81  16.94  16.13  16.58
9   16.58  16.75  15.42  16.03
10  15.95  16.33  15.43  16.11

In [96]:
df.index[0]

0

In [97]:
df_mini.loc[1]

open     16.71
high     16.71
low      15.64
close    15.97
Name: 1, dtype: float64

In [98]:
df1 = pd.DataFrame({'Nome': ['Alessandro', 'Marco', 'Luigi', 'Francesco'],
                    'Linguaggio': ['Python', 'R', 'C#', 'Java']},
                   index=[0,1,2,3])

df2 = pd.DataFrame({'Nome': ['Luisa', 'Anna', 'Federica', 'Sofia'],
                    'Linguaggio': ['Javascript', 'PHP', 'C', 'Python']},
                   index=[4,5,6,7])

In [99]:
print(df1)
print(df2)

  Linguaggio        Nome
0     Python  Alessandro
1          R       Marco
2         C#       Luigi
3       Java   Francesco
   Linguaggio      Nome
4  Javascript     Luisa
5         PHP      Anna
6           C  Federica
7      Python     Sofia

In [100]:
pd.concat([df1, df2])

   Linguaggio        Nome
0      Python  Alessandro
1           R       Marco
2          C#       Luigi
3        Java   Francesco
4  Javascript       Luisa
5         PHP        Anna
6           C    Federica
7      Python       Sofia

In [101]:
df3 = pd.DataFrame({'Nome': ['Luisa', 'Anna', 'Federica', 'Sofia'],
                    'Linguaggio': ['Javascript', 'PHP', 'C', 'Python']},
                   index=[0,1,2,3])
nuovo = pd.concat([df1, df3])
nuovo

   Linguaggio        Nome
0      Python  Alessandro
1           R       Marco
2          C#       Luigi
3        Java   Francesco
0  Javascript       Luisa
1         PHP        Anna
2           C    Federica
3      Python       Sofia

In [102]:
nuovo.loc[0]

   Linguaggio        Nome
0      Python  Alessandro
0  Javascript       Luisa

In [103]:
df4 = pd.DataFrame({'Eta': [
                        '32', '24', '27', '43', 
                        '35', '31', '22', '45'
                    ]
                   },
                   index=[0,1,2,3,4,5,6,7])

nuovo = pd.concat([df1, df2])
nuovo = pd.concat([nuovo, df4], axis=1)
nuovo

   Linguaggio        Nome Eta
0      Python  Alessandro  32
1           R       Marco  24
2          C#       Luigi  27
3        Java   Francesco  43
4  Javascript       Luisa  35
5         PHP        Anna  31
6           C    Federica  22
7      Python       Sofia  45

In [105]:
df.head()

,quarter,stock,date,open,high,low,close,volume,percent_change_price,percent_change_volume_over_last_wk,previous_weeks_volume,next_weeks_open,next_weeks_close,percent_change_next_weeks_price,days_to_next_dividend,percent_return_next_dividend
0,1,AA,2011-01-07,15.82,16.72,15.78,16.42,239655616,3.79267,NaN,NaN,16.71,15.97,-4.428490,26,0.182704
1,1,AA,2011-01-14,16.71,16.71,15.64,15.97,242963398,-4.42849,1.380223,239655616.0,16.19,15.79,-2.470660,19,0.187852
2,1,AA,2011-01-21,16.19,16.38,15.60,15.79,138428495,-2.47066,-43.024959,242963398.0,15.87,16.13,1.638310,12,0.189994
3,1,AA,2011-01-28,15.87,16.63,15.82,16.13,151379173,1.63831,9.355500,138428495.0,16.18,17.14,5.933250,5,0.185989
4,1,AA,2011-02-04,16.18,17.39,16.18,17.14,154387761,5.93325,1.987452,151379173.0,17.33,17.37,0.230814,97,0.175029

In [106]:
q = """
SELECT open, high, low, close
FROM dow_jones_index
WHERE high < 17.0
  AND low > 16.0
  
LIMIT 3;
"""

where = df[(df['high'] < 17.0) & (df['low'] > 16.0)]
where[['open', 'high', 'low', 'close']].head(3)

      open   high    low  close
8    16.81  16.94  16.13  16.58
428  16.88  16.96  16.52  16.94
432  16.82  16.87  16.34  16.53

In [107]:
q = """
SELECT quarter, COUNT(*)
FROM dow_jones_index
GROUP BY quarter;
"""

df.groupby('quarter').size()

quarter
1    360
2    390
dtype: int64

In [108]:
q = """
SELECT date, AVG(open), COUNT(*)
FROM dow_jones_index
GROUP BY day
LIMIT 3;
"""

df.groupby('date').agg({'open': np.mean, 'date': np.size}).head(3)

              open  date
date
2011-01-07  51.335    30
2011-01-14  51.157    30
2011-01-21  51.944    30

In [109]:
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'],
                    'value': np.random.randn(4)}) 

df2 = pd.DataFrame({'key': ['B', 'D', 'D', 'E'],
                    'value': np.random.randn(4)})

In [37]:
q = """
SELECT *
FROM df1
INNER JOIN df2
  ON df1.key = df2.key;
"""

pd.merge(df1, df2, on='key')

  key   value_x   value_y
0   B -0.353438  0.356389
1   D  0.070818  1.533973
2   D  0.070818 -0.769190